html {
  /* 
1) Setting a base font size of 10px give us easier rem calculations
     Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth.
2) Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack
  */
}

body {
  font-family: "Helvetica Neue","Roboto", "Segoe UI", Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: left;
  color: #262626;
  margin: 0;
}

h1 {
  font-size: 6rem;
  margin-bottom: 20px;
}

@media (max-width: 414px) {
  h1 {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

a {
  color: #262626;
}

a:hover {
  color: #74638f;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.5;
}

li {
  margin: 15px 0;
}

footer {
  font-size: 1rem;
  margin: 10px 20px 10px 10px;
  text-align: right;
  font-weight: bold;
}

#main {
  margin: 30px 10px;
  padding: 25px;
  border-radius: 5px;
  background: linear-gradient(#bcbcbc, #dadada);
}

@media (max-width: 414px) {
  #main {
    margin: 0;
  }
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-div {
  background: whitesmoke;
  padding: 20px;
  margin: 0;
}

#img-caption {
  font-size: 1rem;
  margin: 10px auto 5px 0;
}

@media (max-width: 414px) {
  #img-caption {
    font-size: 0.5rem;
    line-height: 1.5;
  }
}

#title {
  margin: 30px 0 10px auto;
}

#headline {
  margin: 0;
}

#quote {
  text-align: center;
  font-style: italic;
}

#more-info {
  text-align: left;
  margin: 25px 0 5px 0;
}



